Repository chunky-dev/chunky, pull requests merged in 2020-06, with the labels that each got.

#604 New octree implementation
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/resources/OctreeFileFormat.java
  chunky/src/java/se/llbit/math/NodeBasedOctree.java
  chunky/src/java/se/llbit/math/Octree.java
  chunky/src/java/se/llbit/math/PackedOctree.java
Labels: performance, renderer

#606 Fix delay before rendering
  chunky/src/java/se/llbit/chunky/renderer/RenderWorker.java
Labels: bug, performance

#616 Add support for surrogate characters in the JSON font loader.
  chunky/src/java/se/llbit/chunky/resources/SignTexture.java
  chunky/src/java/se/llbit/chunky/resources/texturepack/FontTexture.java
  chunky/src/java/se/llbit/chunky/resources/texturepack/JsonFontTextureLoader.java
Labels: bug, chunky 2.x

#621 Fix player helmet rotation
  chunky/src/java/se/llbit/chunky/entity/PlayerEntity.java
Labels: bug, renderer
