Repository chunky-dev/chunky, pull requests merged in 2020-10, with the labels that each got.

#704 Remove data nodes from the octree
  chunky/src/java/se/llbit/chunky/block/Lava.java
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/Water.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/model/CauldronModel.java
  chunky/src/java/se/llbit/chunky/renderer/scene/OctreeFinalizer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/PreviewRayTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Sky.java
  chunky/src/java/se/llbit/chunky/resources/OctreeFileFormat.java
  chunky/src/java/se/llbit/math/BigPackedOctree.java
  chunky/src/java/se/llbit/math/Octree.java
  chunky/src/java/se/llbit/math/PackedOctree.java
  chunky/src/java/se/llbit/math/Ray.java
  chunky/src/java/se/llbit/math/primitive/TexturedTriangle.java
Labels: chunky 2.x, performance

#705 Fix wrong water and lava level checks.
  chunky/src/java/se/llbit/chunky/block/Lava.java
  chunky/src/java/se/llbit/chunky/block/Water.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
Labels: bug, chunky 2.x

#706 Improvements regarding emitter sampling
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/AdvancedTab.java
  chunky/src/java/se/llbit/chunky/ui/render/LightingTab.java
  chunky/src/java/se/llbit/math/Grid.java
  chunky/src/res/se/llbit/chunky/ui/render/AdvancedTab.fxml
  lib/src/se/llbit/chunky/PersistentSettings.java
Labels: chunky 2.x, performance

#707 Disable the load chunks button if no world is loaded.
  chunky/src/java/se/llbit/chunky/ui/render/GeneralTab.java
Labels: GUI, bug

#709 Fix not being able to load some chunks
  chunky/src/java/se/llbit/chunky/world/Region.java
Labels: bug

#711 Fix some 1.16 chunks being loaded incorrectly.
  chunky/src/java/se/llbit/chunky/world/Chunk.java
Labels: bug, chunky 2.x
