Repository chunky-dev/chunky, pull requests merged in 2021-02, with the labels that each got.

#809 Fix water level information being dropped on chunk borders.
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
Labels: bug

#810 More canvas scaling controls
  chunky/src/java/se/llbit/chunky/ui/RenderCanvasFx.java
Labels: GUI

#814 21w05a
  chunky/src/java/se/llbit/chunky/block/Azalea.java
  chunky/src/java/se/llbit/chunky/block/AzaleaLeaves.java
  chunky/src/java/se/llbit/chunky/block/BigDripleaf.java
  chunky/src/java/se/llbit/chunky/block/BigDripleafStem.java
  chunky/src/java/se/llbit/chunky/block/CaveVines.java
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/SmallDripleaf.java
  chunky/src/java/se/llbit/chunky/block/SporeBlossom.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/entity/Entity.java
  chunky/src/java/se/llbit/chunky/entity/SporeBlossom.java
  chunky/src/java/se/llbit/chunky/model/AzaleaModel.java
  chunky/src/java/se/llbit/chunky/model/BigDripleafModel.java
  chunky/src/java/se/llbit/chunky/model/BigDripleafStemModel.java
  chunky/src/java/se/llbit/chunky/model/CandleModel.java
  chunky/src/java/se/llbit/chunky/model/GlowLichenModel.java
  chunky/src/java/se/llbit/chunky/model/Model.java
  chunky/src/java/se/llbit/chunky/model/SculkSensorModel.java
  chunky/src/java/se/llbit/chunky/model/SmallDripleafModel.java
  chunky/src/java/se/llbit/chunky/model/SporeBlossomModel.java
  chunky/src/java/se/llbit/chunky/model/TripwireHookModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: chunky 2.x, minecraft

#796 Additional camera controls for use in very tall worlds
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
Labels: GUI, bug, snapshot-only

#815 Fix water water blocks with water above them on chunk borders.
  chunky/src/java/se/llbit/chunky/renderer/scene/OctreeFinalizer.java
Labels: bug, snapshot-only

#820 Update the small dripleaf textures.
  chunky/src/java/se/llbit/chunky/model/SmallDripleafModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: chunky 2.x, minecraft

#822 Sky cache bug fixes.
  chunky/src/java/se/llbit/chunky/renderer/scene/NishitaSky.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Sky.java
  chunky/src/java/se/llbit/chunky/renderer/scene/SkyCache.java
  chunky/src/java/se/llbit/math/ColorUtil.java
Labels: chunky 2.x, snapshot-only

#824 21w07a
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/model/BigDripleafModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: minecraft

#826 Fix skymap bugs due to synchronization issues
  chunky/src/java/se/llbit/chunky/renderer/scene/PreethamSky.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Sky.java
  chunky/src/java/se/llbit/chunky/renderer/scene/SkyCache.java
Labels: bug, snapshot-only

#836 21w08a
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: minecraft
