Repository chunky-dev/chunky, pull requests merged in 2021-01, with the labels that each got.

#767 Sliders to zero
  chunky/src/java/se/llbit/chunky/ui/render/SkyTab.java
  lib/src/se/llbit/chunky/ui/SliderAdjuster.java
Labels: GUI, bug, chunky 2.x

#774 Fix the light leaking through stairs when using emitter sampling
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
Labels: bug, renderer

#772 Fix texture rotation
  chunky/src/java/se/llbit/chunky/block/Dispenser.java
  chunky/src/java/se/llbit/chunky/block/Dropper.java
  chunky/src/java/se/llbit/chunky/block/Furnace.java
  chunky/src/java/se/llbit/chunky/block/OrientedTexturedBlock.java
  chunky/src/java/se/llbit/chunky/model/TexturedBlockModel.java
Labels: bug, textures

#777 Fix ACES tonemapping
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
Labels: bug

#776 Add rough specular reflections
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/MaterialsTab.java
  chunky/src/java/se/llbit/chunky/world/Material.java
  chunky/src/java/se/llbit/math/Ray.java
Labels: renderer

#781 Fix skymaps not loading in headless mode without JavaFX.
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/fxutil/FxImageUtil.java
  chunky/src/java/se/llbit/util/ImageTools.java
Labels: bug, headless mode

#782 Reworked Error and Warning boxes.
  chunky/src/java/se/llbit/chunky/ui/ChunkyErrorDialog.java
  chunky/src/java/se/llbit/chunky/ui/UILogReceiver.java
  chunky/src/res/se/llbit/chunky/ui/WarningDialog.fxml
Labels: GUI

#779 Precompute coefficient for intersection computation
  chunky/src/java/se/llbit/math/Octree.java
Labels: performance

#784 Add carved pumpkin and dragon head skulls, fix wearing other skulls
  chunky/src/java/se/llbit/chunky/entity/ArmorStand.java
  chunky/src/java/se/llbit/chunky/entity/PlayerEntity.java
  chunky/src/java/se/llbit/chunky/entity/SkullEntity.java
Labels: chunky 2.x, minecraft, renderer

#792 Beam upgrades
  chunky/src/java/se/llbit/chunky/entity/BeaconBeam.java
  chunky/src/java/se/llbit/chunky/entity/Entity.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/EntitiesTab.java
  chunky/src/java/se/llbit/chunky/world/ExtraMaterials.java
  chunky/src/java/se/llbit/chunky/world/material/BeaconBeamMaterial.java
Labels: feature request, minecraft

#794 21w03a
  chunky/src/java/se/llbit/chunky/block/GlowLichen.java
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/model/GlowLichenModel.java
  chunky/src/java/se/llbit/chunky/model/VineModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: chunky 2.x, minecraft

#797 Metalness
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/MaterialsTab.java
  chunky/src/java/se/llbit/chunky/world/Material.java
Labels: renderer
