Repository chunky-dev/chunky, pull requests merged in 2021-04, with the labels that each got.

#873 Fix the javafx locator on systems other than Windows.
  launcher/src/se/llbit/chunky/launcher/JavaFxLocator.java
Labels: launcher

#872 Fix RGB textures with transparent color not working properly on Java 8.
  chunky/src/java/se/llbit/resources/ImageLoader.java
Labels: bug, java problem, textures

#867 ETA and progress bar for creating and loading Octrees and BVH.
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/math/BVH.java
  chunky/src/java/se/llbit/util/PositionalInputStream.java
  chunky/src/java/se/llbit/util/TaskTracker.java
Labels: GUI

#874 Fix textured triangle uv mapping.
  chunky/src/java/se/llbit/math/primitive/TexturedTriangle.java
Labels: bug, snapshot-only

#878 Clip the torch model to the block box.
  chunky/src/java/se/llbit/chunky/model/TorchModel.java
Labels: bug, snapshot-only

#883 Add waxed oxidized copper and cut copper.
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
Labels: minecraft

#885 21w13a
  chunky/src/java/se/llbit/chunky/block/LightBlock.java
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/SeaPickle.java
  chunky/src/java/se/llbit/chunky/block/Tripwire.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/model/AzaleaModel.java
  chunky/src/java/se/llbit/chunky/model/BigDripleafModel.java
  chunky/src/java/se/llbit/chunky/model/ChainModel.java
  chunky/src/java/se/llbit/chunky/model/LanternModel.java
  chunky/src/java/se/llbit/chunky/model/LightningRodModel.java
  chunky/src/java/se/llbit/chunky/model/SmallDripleafModel.java
  chunky/src/java/se/llbit/chunky/model/StonecutterModel.java
  chunky/src/java/se/llbit/chunky/model/TripwireHookModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: minecraft

#886 Make sea pickles emit light.
  chunky/src/java/se/llbit/chunky/block/SeaPickle.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
Labels: chunky 2.x, minecraft

#897 Fix loading chunks with armor stands from upgraded older minecraft versions
  chunky/src/java/se/llbit/chunky/entity/ArmorStand.java
Labels: bug, chunky 2.x

#900 Fix loading skull textures with wrong base64 padding.
  chunky/src/java/se/llbit/chunky/block/Head.java
Labels: bug, minecraft

#875 Persist canvas scale config across restarts
  chunky/src/java/se/llbit/chunky/ui/RenderCanvasFx.java
  lib/src/se/llbit/chunky/PersistentSettings.java
Labels: GUI

#884 Add a y level slider to the map view
  chunky/src/java/se/llbit/chunky/map/MapView.java
  chunky/src/java/se/llbit/chunky/map/SurfaceLayer.java
  chunky/src/java/se/llbit/chunky/map/WorldMapLoader.java
  chunky/src/java/se/llbit/chunky/ui/ChunkyFxController.java
  chunky/src/java/se/llbit/chunky/ui/render/GeneralTab.java
  chunky/src/java/se/llbit/chunky/world/Chunk.java
  chunky/src/java/se/llbit/chunky/world/ChunkView.java
  chunky/src/java/se/llbit/chunky/world/EmptyChunk.java
  chunky/src/java/se/llbit/chunky/world/EmptyRegionChunk.java
  chunky/src/java/se/llbit/chunky/world/RegionParser.java
  chunky/src/res/se/llbit/chunky/ui/Chunky.fxml
Labels: GUI

#902 Sort PictureExportFormats::formats
  chunky/src/java/se/llbit/chunky/renderer/export/PictureExportFormats.java
Labels: GUI

#903 Fix and optimize some blocks
  chunky/src/java/se/llbit/chunky/block/BrewingStand.java
  chunky/src/java/se/llbit/chunky/block/DaylightDetector.java
  chunky/src/java/se/llbit/chunky/block/Piston.java
  chunky/src/java/se/llbit/chunky/block/ShulkerBox.java
  chunky/src/java/se/llbit/chunky/block/Snow.java
Labels: bug, chunky 2.x

#904 Fix stripped wood orientation and birch fence gate texture
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
Labels: bug

#912 21w15a
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/chunk/BlockPalette.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: minecraft

#915 21w16a
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/model/SmallDripleafModel.java
Labels: minecraft
