Repository chunky-dev/chunky, pull requests merged in 2023-09, with the labels that each got.

#1615 Add option to disable "fancier translucency"
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/tabs/AdvancedTab.java
  chunky/src/res/se/llbit/chunky/ui/render/tabs/AdvancedTab.fxml
Labels: GUI, renderer

#1600 Add hanging signs.
  chunky/src/java/se/llbit/chunky/block/HangingSign.java
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/WallHangingSign.java
  chunky/src/java/se/llbit/chunky/entity/Entity.java
  chunky/src/java/se/llbit/chunky/entity/HangingSignEntity.java
  chunky/src/java/se/llbit/chunky/entity/SignEntity.java
  chunky/src/java/se/llbit/chunky/entity/WallHangingSignEntity.java
  chunky/src/java/se/llbit/chunky/entity/WallSignEntity.java
  chunky/src/java/se/llbit/chunky/model/Model.java
  chunky/src/java/se/llbit/chunky/resources/SignTexture.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/math/Quad.java
Labels: minecraft

#1618 Add a GUI for layered fog
  chunky/src/java/se/llbit/chunky/renderer/scene/Fog.java
  chunky/src/java/se/llbit/chunky/renderer/scene/FogLayer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/render/settings/LayeredFogSettings.java
  chunky/src/java/se/llbit/chunky/ui/render/settings/UniformFogSettings.java
  chunky/src/java/se/llbit/chunky/ui/render/tabs/SkyTab.java
  chunky/src/res/se/llbit/chunky/ui/render/settings/LayeredFogSettings.fxml
Labels: GUI

#1635 Hide broken entity gear fields
  chunky/src/java/se/llbit/chunky/ui/render/tabs/EntitiesTab.java
Labels: GUI
