Repository chunky-dev/chunky, pull requests merged in 2023-11, with the labels that each got.

#1659 TIFF compression
  chunky/src/java/se/llbit/chunky/renderer/export/Tiff32ExportFormat.java
  chunky/src/java/se/llbit/chunky/renderer/renderdump/ClassicDumpFormat.java
  chunky/src/java/se/llbit/chunky/renderer/renderdump/GzipDumpFormat.java
  chunky/src/java/se/llbit/chunky/renderer/renderdump/HuffmanDumpFormat.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/imageformats/tiff/BasicIFD.java
  chunky/src/java/se/llbit/imageformats/tiff/CompressionType.java
  chunky/src/java/se/llbit/imageformats/tiff/FinalizableBFCOutputStream.java
  chunky/src/java/se/llbit/imageformats/tiff/IFDTag.java
  chunky/src/java/se/llbit/imageformats/tiff/ImageFileDirectory.java
  chunky/src/java/se/llbit/imageformats/tiff/TiffFileWriter.java
  chunky/src/java/se/llbit/math/Octree.java
  chunky/src/java/se/llbit/util/io/BufferedFileChannelOutputStream.java
  chunky/src/java/se/llbit/util/io/IsolatedOutputStream.java
  chunky/src/java/se/llbit/util/io/PositionalInputStream.java
  chunky/src/java/se/llbit/util/io/PositionalOutputStream.java
  chunky/src/java/se/llbit/util/io/RepositionableMeasurableDataOutput.java
  chunky/src/java/se/llbit/util/io/ZipExport.java
Labels: hacktoberfest-accepted

#1663 fix exposed, weathered, and oxidized copper grates
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
Labels: bug, minecraft, backport-me

#1661 TIFF alpha channel
  chunky/src/java/se/llbit/chunky/main/Chunky.java
  chunky/src/java/se/llbit/chunky/renderer/export/PfmExportFormat.java
  chunky/src/java/se/llbit/chunky/renderer/export/PictureExportFormat.java
  chunky/src/java/se/llbit/chunky/renderer/export/PngExportFormat.java
  chunky/src/java/se/llbit/chunky/renderer/export/Tiff32ExportFormat.java
  chunky/src/java/se/llbit/chunky/renderer/scene/AlphaBuffer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/PreviewRayTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/ui/controller/ChunkyFxController.java
  chunky/src/java/se/llbit/chunky/ui/render/tabs/AdvancedTab.java
  chunky/src/java/se/llbit/imageformats/png/PngFileWriter.java
  chunky/src/java/se/llbit/imageformats/tiff/IFDTag.java
  chunky/src/java/se/llbit/imageformats/tiff/TiffFileWriter.java
Labels: hacktoberfest-accepted

#1674 Rename grass to short_grass.
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/minecraft/Grass.java
  chunky/src/java/se/llbit/chunky/resources/TexturePackLoader.java
Labels: minecraft, backport-me
