Repository chunky-dev/chunky, pull requests merged in 2024-10, with the labels that each got.

#1682 Improve launcher command line interface.
  README.md
  chunky/src/java/se/llbit/chunky/ui/controller/CreditsController.java
  chunky/src/res/se/llbit/chunky/ui/dialogs/Credits.fxml
  launcher/build.gradle
  launcher/src/se/llbit/chunky/launcher/ChunkyLauncher.java
  launcher/test/se/llbit/chunky/launcher/ChunkyLauncherCliParseTest.java
  lib/src/se/llbit/chunky/HelpCopyright.java
  lib/src/se/llbit/chunky/cli/CliUtil.java
Labels: launcher

#1784 Scene file improvements
  chunky/src/java/se/llbit/chunky/renderer/scene/Fog.java
  chunky/src/java/se/llbit/chunky/renderer/scene/Scene.java
  chunky/src/java/se/llbit/chunky/renderer/scene/sky/Sky.java
  chunky/src/java/se/llbit/chunky/renderer/scene/sky/Sun.java
  chunky/src/java/se/llbit/chunky/ui/render/tabs/SkyTab.java
  chunky/src/java/se/llbit/chunky/world/material/BeaconBeamMaterial.java
  chunky/src/java/se/llbit/math/ColorUtil.java
  chunky/src/java/se/llbit/util/JsonUtil.java
  chunky/src/test/se/llbit/chunky/renderer/BlankRenderTest.java
  chunky/src/test/se/llbit/math/ColorUtilTest.java
Labels: scene format

#1786 Add 24w40a blocks and pale garden biome
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/minecraft/CreakingHeart.java
  chunky/src/java/se/llbit/chunky/block/minecraft/PaleMossCarpet.java
  chunky/src/java/se/llbit/chunky/entity/HangingSignEntity.java
  chunky/src/java/se/llbit/chunky/entity/SignEntity.java
  chunky/src/java/se/llbit/chunky/model/minecraft/FlowerPotModel.java
  chunky/src/java/se/llbit/chunky/model/minecraft/PaleMossCarpetModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
  chunky/src/java/se/llbit/chunky/world/biome/Biomes.java
Labels: minecraft
