Repository chunky-dev/chunky, pull requests merged in 2024-03, with the labels that each got.

#1696 Update vault textures for 24w09a.
  chunky/src/java/se/llbit/chunky/model/minecraft/VaultModel.java
  chunky/src/java/se/llbit/chunky/resources/Texture.java
Labels: minecraft

#1604 New accurate sun sampling method
  chunky/src/java/se/llbit/chunky/renderer/SunSamplingStrategy.java
  chunky/src/java/se/llbit/chunky/renderer/scene/PathTracer.java
  chunky/src/java/se/llbit/chunky/renderer/scene/sky/Sun.java
  chunky/src/java/se/llbit/chunky/ui/render/tabs/LightingTab.java
  chunky/src/java/se/llbit/math/Ray.java
  chunky/src/res/se/llbit/chunky/ui/render/tabs/LightingTab.fxml
Labels: renderer

#1710 [Launcher] Fix jumbled download status column after updating libraries
  build.gradle
  launcher/build.gradle
  launcher/src/se/llbit/chunky/launcher/ui/UpdateDialogController.java
Labels: bug, launcher, GUI

#1711 Fix HTTP Redirects in the launcher when fetching JFX versions
  launcher/src/se/llbit/chunky/launcher/JavaFxDownloads.java
Labels: bug, launcher
