Repository chunky-dev/chunky, pull requests merged in 2024-04, with the labels that each got.

#1716 Fix banner pattern alpha channel being ignored.
  chunky/src/java/se/llbit/chunky/entity/StandingBanner.java
Labels: bug, backport-me

#1717 Add support for new profile field in player head blocks and items.
  chunky/src/java/se/llbit/chunky/block/MinecraftBlockProvider.java
  chunky/src/java/se/llbit/chunky/block/legacy/blocks/LegacySkull.java
  chunky/src/java/se/llbit/chunky/block/minecraft/Head.java
  chunky/src/java/se/llbit/chunky/block/minecraft/WallHead.java
  chunky/src/java/se/llbit/chunky/entity/PlayerEntity.java
  chunky/src/java/se/llbit/util/UuidUtil.java
  chunky/src/java/se/llbit/util/mojangapi/MojangApi.java
  chunky/src/test/se/llbit/chunky/block/SkullTextureTest.java
Labels: minecraft

#1721 Fix FirstTimeSetupDialog when chunky.home is set
  launcher/src/se/llbit/chunky/launcher/ChunkyLauncher.java
  lib/src/se/llbit/chunky/resources/SettingsDirectory.java
Labels: launcher
